@using Entities.Concrete;
@model IEnumerable<Entities.Concrete.Product>

<div class="new-arrivals-w3agile">
    <div class="container">
        <h2 class="tittle">@ViewBag.Title</h2>
        <div class="arrivals-grids">
            @foreach (var product in Model)
            {
                <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                    <div class="grid-arr" style="height: 430px;">
                        <div class="grid-arrival">
                            <figure>
                                <a href="#" class="new-gri" data-toggle="modal" data-target="#myModal1">
                                        @foreach (var image in product.ProductImages.Take(2))
                                        {
                                            <div class="grid-img">
                                                <img src='@(ViewBag.ImageBaseUrl+image.ImageName)' class="img-responsive" alt="">
                                            </div>
                                        }
                                </a>
                            </figure>
                        </div>
                        @* <div class="ribben1">
                            <p>@product.Category.Name.ToUpper()</p>
                        </div> *@
                        @if (product.IsNew)
                        {
                            <div class="ribben">
                                <p>YENİ</p>
                            </div>
                        }
                        @if (product.DiscountRate != 0)
                        {
                            <div class="ribben2">
                                <p>-@product.DiscountRate %</p>
                            </div>
                        }

                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="women">
                            <h6><a href="/Product/Index/@product.Id">@product.Name</a></h6>
                            <span class="size">@product.Brand.Name</span>
                            @if(product.DiscountRate != 0)
                            {
                                <p><del>@product.Price</del>
                                <em class="item_price">@(product.Price - (product.Price * (Convert.ToDecimal(product.DiscountRate)/100))) ₺</em></p>
                            }
                            else
                            {
                                <p><em class="item_price">@product.Price ₺</em></p>
                            }

                            @* <a href="#" data-text="Add To Cart" class="my-cart-b item_add">Sepete Ekle</a> *@
                        </div>
                    </div>
                </div>
            }


            <div class="clearfix"></div>
        </div>
    </div>
</div>