@model Entities.Concrete.Category


<li>@Model.Name
    <button onclick="DeleteCategory('@Model.Id')">&emsp;<i class="fa fa-trash text-danger"></i></button>
    <button onclick="UpdateCategory('@Model.Id','@Model.Name','@Model.ParentId')">&emsp;<i
            class="fa fa-edit text-success"></i></button>
    @if (Model.ChildCategories.Count != 0)
    {
        <ul>
            @foreach (var chieldCategory in Model.ChildCategories)
            {
                @await Component.InvokeAsync("CategoriesHierarchy",new {category=chieldCategory})
            }
        </ul>
    }
</li>

<script>
    UpdateCategory = (id, name, parentId) => {
        $("#Id").val(id);
        $("#Name").val(name);
        $("#ParentId").val(parentId);
        var isOpen = $("#collapse-two")[0].classList.contains('in');
        if (!isOpen)
            $("#category-add-panel").click();
    }
    DeleteCategory = (id) => {
        SwalDeleteQuestion(id, '/Category/DeleteCategory');
    }
</script>