@model Entities.Concrete.Category


<li>@Model.Name
    <button onclick="DeleteCategory('@Model.Id')">&emsp;<i class="fa fa-trash text-danger"></i></button>
    <button onclick="UpdateCategory('@Model.Id','@Model.Name','@Model.ParentId')">&emsp;<i
            class="fa fa-edit text-success"></i></button>
    @if (Model.ChildCategories.Count != 0)
    {
        <ul>
            @foreach (var chieldCategory in Model.ChildCategories)
            {
                @await Component.InvokeAsync("CategoriesHierarchy",new {category=chieldCategory})
            }
        </ul>
    }
</li>

<script>
    UpdateCategory = (id, name, parentId) => {
        $("#Id").val(id);
        $("#Name").val(name);
        $("#ParentId").val(parentId);
        $("#category-add-panel").click();
    }
    DeleteCategory = (id) => {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz ?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sil',
            cancelButtonText: 'Vazgeç'
        }).then((result) => {
            if (result.isConfirmed) {
                $.post('/Category/DeleteCategory', { id: id }, function (response) {
                    debugger;
                    if (response.isSuccess)
                        window.location.reload();
                    else
                        Swal.fire('Hata', response.message, 'error');
                })
            }
        })
    }
</script>