@model IDataResult<CartDTO>

@if (!Model.IsSuccess)
{
    <h4>Sepetinizde Ürün Bulunmamaktadır !</h4>
}
else
{
    foreach (var cartItem in Model.Data.CartItems)
    {
        <div class="cart-header" style="margin-top:50px;">
            <div class="close1"> </div>
            <div class="cart-sec simpleCart_shelfItem">
                <div class="cart-item cyc">
                    <img src="/images/@cartItem.ImageName" class="img-responsive" alt="">
                </div>
                <div class="cart-item-info">
                    <h3><a asp-controller="Product" asp-action="Index" asp-route-id="@cartItem.ProductId"> @cartItem.Product.Name </a></h3>
                    @if (cartItem.DemandTypes.Count != 0)
                    {
                        <br>
                        <p class="text-danger"><u>Seçilenler</u></p>
                        <ul class="qty">
                            @foreach (var demandType in cartItem.DemandTypes)
                            {
                                <li><p>@demandType.ChoosedDemand</p></li>
                            }
                        </ul>
                    }
                    @if(!string.IsNullOrEmpty(cartItem.Note))
                    {
                        <br>
                        <p class="text-danger"><u>İstek Notu :</u></p>
                        <p>@cartItem.Note</p>
                    }
                    <div class="delivery">
                        <p style="color:blue">Fiyat : @cartItem.UnitPrice ₺</p><br>
                        <p>Miktar : @cartItem.Quantity Adet</p><br>
                        @if(cartItem.DiscountRate.HasValue)
                        {
                            <p style="color:red">İndirim Oranı : % @cartItem.DiscountRate.Value</p><br>
                        }
                        <p style="color:blue">Toplam Ürün Fiyatı : @cartItem.TotalItemPrice ₺</p>
                        <span>En Geç 1 Haftaya Kargoda</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    }
    <hr>
    <a class="btn btn-danger btn-sm btn-block"><i class="fa fa-shopping-cart"></i> <b>Toplam Ücret : @Model.Data.CartTotal ₺ </b></a>
}
