@model Entities.Concrete.Product
@{
    ViewData["Title"] = "Ürün";
    string baseUrl = ViewBag.BaseUrl;
}

<input hidden id="demandCount" value="@Model.ProductDemands.Count" />
<input hidden id="productId" value="@Model.Id"/>

<div class="content">
    <!--single-->
    <div class="single-wl3">
        <div class="container">
            <div class="single-grids">
                <div class="col-md-9 single-grid">
                    <div clas="single-top">
                        <div class="single-left">
                            <div class="flexslider">

                                <ul class="slides">
                                    @foreach (var image in Model.ProductImages)
                                    {
                                        <li data-thumb="@baseUrl/images/@image.ImageName">
                                            <div class="thumb-image"> <img src="@baseUrl/images/@image.ImageName" data-imagezoom="true"
                                                class="img-responsive"> </div>
                                        </li>    
                                    }
                                </ul>

                            </div>
                        </div>
                        <div class="single-right simpleCart_shelfItem">
                            <h4>@Model.Name</h4>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <p class="price item_price">
                                @if(Model.DiscountRate != 0)
                                {
                                    <del>@Model.Price ₺</del>
                                    @(Model.Price - (Model.Price * (Convert.ToDecimal(Model.DiscountRate)/100))) <span>₺</span>
                                }
                                else
                                {
                                    @Model.Price <span>₺</span>
                                }
                            </p>
                            <div class="description">
                                <p><span>Açıklama : </span> @Model.Description</p>
                            </div>
                            <div class="description">
                                <p style="color:red" id="demandError" hidden>Lütfen Gerekli Alanları Seçiniz !</p>
                            </div>
                            @if(Model.ProductDemands.Count != 0)
                            {
                                foreach (var productDemands in Model.ProductDemands)
                                {
                                    <div class="row">
                                        <div class="col-md-12">@productDemands.DemandType.Name<span style="color:red">*</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <select class="form-control" onchange="demandChange(this)" id="@productDemands.DemandType.Id">
                                                <option value="">Seçiniz...</option>
                                                @foreach (var demand in productDemands.DemandType.Demands)
                                                {
                                                    <option value="@demand.Id">
                                                        @demand.Name
                                                        @if(demand.Price != 0)
                                                        {
                                                            <span>(+@demand.Price ₺)</span>
                                                        }
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                }
                            
                            }
                            
                            <div class="color-quality">
                                <h6>Adet :</h6>
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus1">&nbsp;</div>
                                        <div class="entry value1"><span>1</span></div>
                                        <div class="entry value-plus1 active">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="women">
                                <span class="size">@Model.Category.Name</span>
                                <a href="#" data-text="Add To Cart" class="my-cart-b item_add2">Sepete Ekle</a>
                            </div>
                            <div class="social-icon">
                                <a href="#"><i class="icon"></i></a>
                                <a href="#"><i class="icon1"></i></a>
                                <a href="#"><i class="icon2"></i></a>
                                <a href="#"><i class="icon3"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/page-js/Product/index.js"></script>
    <script src="~/page-js/Cart/add-to-cart.js"></script>
}