@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="accordion" id="product-accordion">
        <div class="panel panel-danger">
            <div class="panel-heading" id="head-two">
                <a tclass="btn btn-link" href="/Product/CreateOrEditProduct">ÜRÜN EKLE</a>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading" id="head-one">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-one"
                    aria-expanded="true" aria-controls="collapse-one">ÜRÜNLER</button>
            </div>
            <div id="collapse-one" class="collapse show" aria-labelledby="head-one" data-parent="product-accordion">
                <div class="panel-body">
                    <table id="product-table" class="table table-striped table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Ürün Adı</th>
                                <th>Kategori</th>
                                <th>Renk</th>
                                <th>Marka</th>
                                <th>Stok Durumu</th>
                                <th>Popülerlik</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Products)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Category.Name</td>
                                    <td>@item.Color.Name</td>
                                    <td>@item.Brand.Name</td>
                                    <td>@item.InStock</td>
                                    <td>@item.IsPopular</td>
                                    <td>@item.Price ₺</td>
                                    <td class="text-center">
                                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>&emsp;
                                        <a href="/Product/CreateOrEditProduct/@item.Id" class="btn btn-info btn-sm"><i
                                                class="fa fa-edit"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(() => {
        $("#product-table").dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            },
            "searching": true,
            "ordering": true,
            "paging": true,
            "pagingType": "full_numbers",
            "pageLength": 10,
            "responsive": true,
            "columnDefs": [
                {
                    "targets": 4,
                    "render": function (data, type, row, meta) {
                        return Boolean(data) == true ? "Var" : "Yok";

                    }
                },
                {
                    "targets": 5,
                    "render": function (data, type, row, meta) {
                        return Boolean(data) == true ? "Popüler" : "Popüler Değil";
                    }
                }
            ]
        })
    });
</script>