@model UI.Models.Profile.ProfileIndexViewModel
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string iconClass = "fa fa-check text-success";
    if (!Model.IsEmailConfirm)
    {
        iconClass = "fa fa-close text-danger";
    }
}
<div class="container">
    <div class="row" style="margin-top: 10%; margin-bottom: 20%;">
        <div class="col-md-4">
            <partial name="_ProfileSidebar" />
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading text-center"><b>Kullanıcı Bilgileri</b></div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><label asp-for="Email"></label></th>
                                <td><label>@Model.Email</label></td>
                            </tr>
                            <tr>
                                <th><label asp-for="IsEmailConfirm"></label></th>
                                <td><label><i class="@iconClass"></i></label></td>
                            </tr>
                            <tr>
                                <th><label asp-for="FullName"></label></th>
                                <td><label>@Model.FullName</label></td>
                            </tr>
                            <tr>
                                <th><label asp-for="Phone"></label></th>
                                <td><label>@Model.Phone</label></td>
                            </tr>
                            <tr>
                                <th><label asp-for="UserName"></label></th>
                                <td><label>@Model.UserName</label></td>
                            </tr>
                        </thead>
                    </table>
                    @* @await Component.InvokeAsync("BasketView") *@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function (c) {
        $('.close1').on('click', function (c) {
            $('.cart-header').fadeOut('slow', function (c) {
                $('.cart-header').remove();
            });
        });
    });
</script>